# Игнорируем секреты и локальные настройки окружения
.env
.env.example

# Игнорируем файлы локального деплоя/разработки
docker-compose.yml
README.md

# Игнорируем логику Git (в контейнере история коммитов не нужна)
.git
.gitignore
.github/

# Игнорируем кэш Python и виртуальные окружения, если они создавались локально
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# Игнорируем настройки IDE (VSCode, PyCharm и т.д.)
.vscode/
.idea/
